<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Blog Post Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/blog-post.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<header th:insert="blocks/header :: header"></header>


<div class="container">

        <div class="row">

            <div class="col-lg-8">

                <div th:each="el : ${post}">

                    <h1 class="mt-4" th:text="${el.title}"></h1>

                    <p class="lead" th:text="'Posted by: ' + ${el.author}"></p>

                    <hr>

                    <img class="img-fluid rounded" th:src="@{'data:image/jpeg;base64,'+${image}}" alt="image">

<!--                    <img class="img-fluid rounded" src="/images/template.jpg" alt="">
                        http://placehold.it/900x300-->
                    <hr>

                    <p th:utext="${el.fullText}" align="justify"></p>

                    <div class="row" sec:authorize="hasAuthority('ROLE_ADMIN')">
                        &nbsp &nbsp
                        <a class="btn btn-primary" th:href="'/blog/' + ${el.id} + '/edit'" role="button">Edit</a>
                        &nbsp &nbsp
                        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
                            <button type="submit" class="btn btn-primary">Remove</button>
                        </form>

                    </div>
                    <hr>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<footer th:insert="blocks/footer :: footer"></footer>


</body>

</html>