<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/blog-home.css" rel="stylesheet">
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">Edit Post</h1>
            <div th:each="el : ${post}">
            <form method="post" enctype="multipart/form-data">
                <input type="text" th:value="${el.title}" name="title" placeholder="Enter the Title" class="form-control"><br>
                <input type="text" th:value="${el.anons}" name="anons" placeholder="Enter the Announcement" class="form-control"><br>
                <textarea name="fullText" th:text="${el.fullText}" placeholder="Enter the Text" class="form-control" rows="5"></textarea><br>
                <div style="color: blueviolet"><input type="file" name="imageFile" class="upload"></div><br>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            </div>
        </div>
    </div>
</div>


<footer th:insert="blocks/footer :: footer"></footer>

</body></html>