<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/blog-home.css" rel="stylesheet">
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <h2 class="my-4">My Blog App</h2>

            <!-- Blog Post -->
            <div th:each="i : ${#numbers.sequence(posts.size() - 1, 0, -1)}" class="card mb-4"
                 th:with="el=${posts[i]}">
<!--                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
                <div class="card-body">
                    <h2 class="card-title" th:text="${el.title}"></h2>
                    <h5 class="card-title" th:text="${el.anons}"></h5>
                    <p class="card-text" th:utext="${el.short_text}" align="justify"></p>
                    <br>
                    <a th:href="'/blog/' + ${el.id}" class="btn btn-primary">View full post &rarr;</a>
                </div>
                <div class="card-footer text-muted text-lg-right">
                    <text class="lead" th:text="'Posted by ' + ${el.author}" ></text>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<footer th:insert="blocks/footer :: footer"></footer>

</body></html>