<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Blog Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-post.css" rel="stylesheet">

</head>

<body>

<header th:insert="blocks/header :: header"></header>

<br><br>

<main role="main" class="container">
    <div th:each="el : ${post}">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.full_text}" class="lead"></p>
        Published by: <h7 th:text="${el.author}"></h7>

        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="btn btn-lg btn-primary" th:href="'/blog/' + ${el.id} + '/edit'" role="button">Edit</a> <br><br>

            <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
                <button class="btn btn-lg btn-primary" type="submit">Remove</button>
            </form>
        </div>

    </div>
</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body></html>