<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<br><br>

<main role="main" class="container">
    <div th:each="el : ${post}" class="jumbotron">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.full_text}" class="lead"></p>

        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="btn btn-lg btn-primary" th:href="'/blog/' + ${el.id} + '/edit'" role="button">Редактировать</a> <br><br>

            <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
                <button class="btn btn-lg btn-primary" type="submit">Удалить</button>
            </form>
        </div>

    </div>
</main>



</body></html>