<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

</head>

<body>

<header th:insert="blocks/header :: header"></header>
<br>

<main role="main" class="container">

    <div class="starter-template">
        <p class="lead" th:text="'Hello, ' + ${name} + '! Welcome to my blog app!'"></p>
        <p class="lead">Check the Blog page to read posts or add a new post by clicking on Add Post</p>
        <p class="lead">Only Admin can Edit and Remove posts</p>
    </div>

</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>