<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/blog-home.css" rel="stylesheet">

</head>

<body>

<header th:insert="blocks/header :: header"></header>
<br>

<main role="main" class="container">

    <div class="starter-template">
        <p class="lead" th:text="'Hello, ' + ${name} + '! Welcome to My Blog App!'"></p>
        <p class="lead">Check the <a th:href="@{/blog}">Blog page</a> to read posts. Also, you can <a th:href="@{/blog/add}">Add a new Post</a></p>
        <p class="lead">Only Admin can Edit and Remove posts</p>
    </div>

</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>