<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Registration</h1>
            <br>
            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstName"> First Name </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}"
                           pattern="^[A-Za-z ]{2,20}$"
                           title="Please, enter a real first name using only Latin letters"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName"> Last Name </label> <input
                        id="lastName" class="form-control" th:field="*{lastName}"
                        pattern="^[A-Za-z ]{2,20}$"
                        title="Please, enter a real last name using only Latin letters"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="email"> Email </label> <input
                        id="email" class="form-control" th:field="*{email}"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        title="Please enter a valid email address"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label> <input
                        id="password" class="form-control" type="password"
                        pattern="^[A-Za-z0-9_]{4,20}$"
                        title="Password must contain only letters, numbers, and ‘_’. Length should be between 4 and 20 characters."
                        th:field="*{password}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>  Already registered?  <a href="/" th:href="@{/login}">Login
								here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>